openapi: 3.0.1
info:
  title: Truv Admin Tax API
  description: Truv provides consumer-permissioned access to payroll, income, and employment data. This specification covers the Truv REST API for managing users, minting bridge tokens, working with links, and retrieving employment, income, pay statement, direct deposit, insurance, identity, and banking data, plus orders, tasks, and webhooks.
  termsOfService: https://truv.com/terms-of-service/
  contact:
    name: Truv Support
    email: support@truv.com
    url: https://docs.truv.com
  version: '1.0'
servers:
- url: https://prod.truv.com
  description: Truv production API
security:
- accessClientId: []
  accessSecret: []
tags:
- name: Tax
  description: Tax document data for a connected link.
paths:
  /v1/links/{link_id}/tax/{tax_id}/:
    parameters:
    - $ref: '#/components/parameters/LinkId'
    - name: tax_id
      in: path
      required: true
      schema:
        type: string
      description: The ID of the tax document to retrieve.
    get:
      operationId: getTaxDocument
      tags:
      - Tax
      summary: Retrieve a tax document for a link.
      responses:
        '200':
          description: A tax document.
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    LinkId:
      name: link_id
      in: path
      required: true
      schema:
        type: string
      description: The ID of the link.
  securitySchemes:
    accessClientId:
      type: apiKey
      in: header
      name: X-Access-Client-Id
      description: Your Truv access client ID.
    accessSecret:
      type: apiKey
      in: header
      name: X-Access-Secret
      description: Your Truv access secret.
