openapi: 3.0.1
info:
  title: Truv Admin Scoring API
  description: Truv provides consumer-permissioned access to payroll, income, and employment data. This specification covers the Truv REST API for managing users, minting bridge tokens, working with links, and retrieving employment, income, pay statement, direct deposit, insurance, identity, and banking data, plus orders, tasks, and webhooks.
  termsOfService: https://truv.com/terms-of-service/
  contact:
    name: Truv Support
    email: support@truv.com
    url: https://docs.truv.com
  version: '1.0'
servers:
- url: https://prod.truv.com
  description: Truv production API
security:
- accessClientId: []
  accessSecret: []
tags:
- name: Scoring
  description: Scoring attribute reports.
paths:
  /v1/scoring_attributes/reports:
    post:
      operationId: createScoringAttributesReport
      tags:
      - Scoring
      summary: Create a scoring attributes report.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: A scoring attributes report.
          content:
            application/json:
              schema:
                type: object
  /v1/scoring_attributes/reports/{report_id}:
    parameters:
    - $ref: '#/components/parameters/ReportId'
    get:
      operationId: getScoringAttributesReport
      tags:
      - Scoring
      summary: Retrieve a scoring attributes report.
      responses:
        '200':
          description: A scoring attributes report.
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    ReportId:
      name: report_id
      in: path
      required: true
      schema:
        type: string
      description: The ID of the report.
  securitySchemes:
    accessClientId:
      type: apiKey
      in: header
      name: X-Access-Client-Id
      description: Your Truv access client ID.
    accessSecret:
      type: apiKey
      in: header
      name: X-Access-Secret
      description: Your Truv access secret.
