openapi: 3.0.1
info:
  title: Truv Admin Income API
  description: Truv provides consumer-permissioned access to payroll, income, and employment data. This specification covers the Truv REST API for managing users, minting bridge tokens, working with links, and retrieving employment, income, pay statement, direct deposit, insurance, identity, and banking data, plus orders, tasks, and webhooks.
  termsOfService: https://truv.com/terms-of-service/
  contact:
    name: Truv Support
    email: support@truv.com
    url: https://docs.truv.com
  version: '1.0'
servers:
- url: https://prod.truv.com
  description: Truv production API
security:
- accessClientId: []
  accessSecret: []
tags:
- name: Income
  description: Income reports, transactions, and income insights.
paths:
  /v1/links/{link_id}/income/report/:
    parameters:
    - $ref: '#/components/parameters/LinkId'
    get:
      operationId: getIncomeReport
      tags:
      - Income
      summary: Retrieve the income report for a link.
      responses:
        '200':
          description: An income report.
          content:
            application/json:
              schema:
                type: object
  /v1/links/{link_id}/income/transactions/reports/:
    parameters:
    - $ref: '#/components/parameters/LinkId'
    get:
      operationId: getIncomeTransactionsReport
      tags:
      - Income
      summary: Retrieve the income transactions report for a link.
      responses:
        '200':
          description: An income transactions report.
          content:
            application/json:
              schema:
                type: object
  /v1/users/{user_id}/reports/{report_id}/:
    parameters:
    - $ref: '#/components/parameters/UserId'
    - $ref: '#/components/parameters/ReportId'
    post:
      operationId: createUserReport
      tags:
      - Income
      summary: Create a report for a user.
      responses:
        '200':
          description: A report.
          content:
            application/json:
              schema:
                type: object
    get:
      operationId: getUserReport
      tags:
      - Income
      summary: Retrieve a report for a user.
      responses:
        '200':
          description: A report.
          content:
            application/json:
              schema:
                type: object
  /v1/users/{user_id}/income_insights/reports/{report_id}/:
    parameters:
    - $ref: '#/components/parameters/UserId'
    - $ref: '#/components/parameters/ReportId'
    post:
      operationId: createIncomeInsightsReport
      tags:
      - Income
      summary: Create an income insights report for a user.
      responses:
        '200':
          description: An income insights report.
          content:
            application/json:
              schema:
                type: object
    get:
      operationId: getIncomeInsightsReport
      tags:
      - Income
      summary: Retrieve an income insights report for a user.
      responses:
        '200':
          description: An income insights report.
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    UserId:
      name: user_id
      in: path
      required: true
      schema:
        type: string
      description: The ID of the user.
    LinkId:
      name: link_id
      in: path
      required: true
      schema:
        type: string
      description: The ID of the link.
    ReportId:
      name: report_id
      in: path
      required: true
      schema:
        type: string
      description: The ID of the report.
  securitySchemes:
    accessClientId:
      type: apiKey
      in: header
      name: X-Access-Client-Id
      description: Your Truv access client ID.
    accessSecret:
      type: apiKey
      in: header
      name: X-Access-Secret
      description: Your Truv access secret.
